.AppContainer {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: top left;
  border-radius: 20px;
  transition: transform 0.5s cubic-bezier(0.68,-0.55,0.27,1.55), visibility 0s linear 0.3s;
  visibility: hidden;
  overflow: hidden;

  svg {
    stroke: #fff;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  h1,
  p,
  svg {
    color: #fff;
    padding: 50px;
    opacity: 0;
    transition: opacity 0.3s linear 0s;
  }
}

.AppContainer.active {
  visibility: visible;
  transition: transform 0.5s cubic-bezier(0.68,-0.55,0.27,1.55), visibility 0.3s linear 0s;
  h1,
  p,
  svg {
    opacity: 1;
  }
}
